*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #1be249;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(https://th.bing.com/th/id/R.e5c437bd802edd46ee7e411cceebf0f1?rik=Iwo5tQqfvpveJg&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fpc5%2f6e6%2fpc56e64Ri.jpg&ehk=N7HAvW1bGbwW5HQjWolM2jEIsjY%2f%2bQuznQV%2fiSLAMbk%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(https://th.bing.com/th/id/R.f166c8aef87a525724706b1fefe9b625?rik=4LOAa9eYGA2MFg&riu=http%3a%2f%2fcliparts.co%2fcliparts%2f8c6%2f8RG%2f8c68RGyei.png&ehk=Df5sZ5ID2Jgaj%2fLLLEMVTW5utouaoLUpKwV7JLrx8l4%3d&risl=&pid=ImgRaw&r=0);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}